.footer{
    position: relative;
    padding: 80px 0 80px 0;
}
.footer .bg-img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
.footer .footer-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.footer .contact{
    width: 686px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
}
.footer .contact .logo{
    height: 54px;
}
.footer .contact .logo>img{
    height: 100%;
    width: auto;
}
.footer .contact .text{
    line-height: 1.5;
    color: #3B3B3B;
}
.footer .contact .mail{
    line-height: 1.2;
    color: #919191;
}
.footer .links{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer .links a{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 306px;
    font-size: 20px;
    line-height: 1.5;
    padding: 8px 24px;
    color: #3B3B3B;
    border: 1px solid #C1C1C1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.footer .links li:nth-child(1) a{
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 700;
}
@media (max-width: 768px) {
    .footer{
        overflow-x: hidden;
        padding: 40px 0;
    }
    .footer .bg-img{
        width: auto;
        height: 100%;
    }
    .footer .footer-body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 12px;
        box-sizing: border-box;
    }
    .footer .contact{
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        gap: 24px;
    }
    .footer .contact .logo>img{
        margin: 0 auto;
    }
}