.works{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}
.works>.content{
    display: flex;
    flex-direction: column;
}
.works>.content>li{
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow-x: hidden;
}
.works>.content>li .work-bg-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}
.works>.content>li .modal{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.works>.content>li .work-img>img{
    width: 100%;
}
/* introduce start */
.works>.content>li .introduce{
    width: 526px;
    background: #FFFFFF1A;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 80px 40px 56px 40px;
    border-radius: 24px;
    box-sizing: border-box;
}
.works>.content>li .introduce .wrapper{
    border-bottom: 1px solid #f1f1f1;
}
.works>.content>li .introduce .title{
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
    margin-bottom: 8px;
}
.works>.content>li .introduce .subtitle{
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}
.works>.content>li .introduce .tag-list{
    display: flex;
    color: #3B3B3B;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.works>.content>li .introduce .tag-list>.tag{
    background-color: #ffffff;
    border-radius: 16px;
    line-height: 24px;
    padding: 4px 12px 4px 12px;
}
.works>.content>li .introduce .tag-list>.tag:not(:last-child){
    margin-right: 16px;
}
.works>.content>li .introduce button{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
}
/* introduce end */
/* work-1 start */
.works>.content>li:nth-child(1) .modal{
    background-color: rgba(0, 0, 0, 0.4);
}
.works>.content>li:nth-child(1) .introduce{
    margin: auto 0 auto 53px;
}
/* work-1 end */
/* work-2 start */
.works>.content>li:nth-child(2) .introduce-container{
    width: 50%;
    height: 100%;
    margin-right: auto;
    background-color: #0A101380;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.works>.content>li:nth-child(2) .introduce{
    margin-right: 110px;
}
/* work-2 end */
/* work-3 start */
.works>.content>li:nth-child(3){
    align-items: center;
}
.works>.content>li:nth-child(3) .modal{
    background-color: #0D0C0780;
}
.works>.content>li:nth-child(3) .work-img{
    margin-top: 32px;
}
.works>.content>li:nth-child(3) .introduce{
    margin-left: 49px;
}
/* work-3 end */